# <font color='#eb3483'> Filtering in Pandas </font>

Once we have read our data frame in and had a look around we may want to start working with specific columns or rows, or data that only meets a certain criteria. We do this with filtering.   

Indices are incredibly useful, because they allow us to quickly and intuitively (especially if we've used a meaningful index) pick out relative data points. In this module we're going to learn how to use indices to filter our dataframes.

The two most fundamental commands for indexing are `loc` and `iloc` (integar-loc) followed by an identifier for the desired location in square brackets. Mastering the use of `loc` and `iloc` early will set you in good stead for use of the Pandas data API.

1. There are two things you should know about `iloc`. Firstly, it is reserved for purely number-based indexing (integars only). So if you ever call iloc with a non-integer index, it will throw an error. Secondly, `iloc` **does not interact with your index at all** -> important to remember if your index is integer-based.
2. `loc` is based purely on the assigned index for your dataframe.

In this notebook we will cover:
<font color='#eb3483'>
1. Selecting rows by their numerical position - iloc
1. Selecting rows by their index - loc
1. Selecting columns
1. Advanced filtering
 - mask & where
 - filtering with []
 - multiple selctions
    </font>

In [1]:
import pandas as pd

We are going to use a dataset that has Airbnb listing information in Lisbon.

In [2]:
df = pd.read_csv('data/airbnb.csv', index_col='room_id') #indexing the df using room_id

In [3]:
# look at the shape
df.shape

(13232, 8)

In [4]:
#look at the head
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

## <font color='#eb3483'> 1. Selecting rows by their position - iloc </font>

We use the function `iloc` to select specific rows on a Data Frame (regardless of the index).

With `iloc` we select rows regarding their row number, starting at 0.

In [5]:
df.iloc[0] # using one square bracket returns it as a series

host_id                           14455
room_type               Entire home/apt
neighborhood                      Belém
reviews                               8
overall_satisfaction                5.0
accommodates                          2
bedrooms                            1.0
price                              57.0
Name: 6499, dtype: object

In [6]:
type(df.iloc[0])

pandas.core.series.Series

Generally we would want to keep working with a dataframe - so we use double brackets `[[]]`

In [7]:
df.iloc[[0]]

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0

We can select multiple rows at once:

In [8]:
df.iloc[[0,3,5]]

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0

Or use slices like with arrays:

In [9]:
#select rows 2:10

df.iloc[2:10]

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0
29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0

## <font color='#eb3483'> 2. Selecting rows by their index value - loc </font>

With `.loc` we can select rows based on their index value.

Since we have set the dataframe index as the Airbnb listing, we can select a specific room based on its id, for example, the listing 10186098.

In [10]:
df.loc[29396]

host_id                            126415
room_type                 Entire home/apt
neighborhood            Santa Maria Maior
reviews                               132
overall_satisfaction                  5.0
accommodates                            4
bedrooms                              1.0
price                                67.0
Name: 29396, dtype: object

Selecting an index value that doesnt exist will fail

In [11]:
df.loc[[5]]

KeyError: "None of [Int64Index([5], dtype='int64', name='room_id')] are in the [index]"

Same as with .iloc, we can select multiple values at once.

In [12]:
df.loc[[29872, 19188572, 4612503 ]]

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
19188572,134216988,Private room,Arroios,0,0.0,4,1.0,58.0
4612503,22078192,Entire home/apt,Santa Maria Maior,12,5.0,3,1.0,113.0

## <font color='#eb3483'> 3. Column Selection </font>

We can select columns using dot notation **(as long as the column names dont have spaces or non alphanumerical characters on them)** - which is why it is always good to name your columns without these. Saves time later :)

In [13]:
df.room_type

room_id
6499        Entire home/apt
17031       Entire home/apt
25659       Entire home/apt
29248       Entire home/apt
29396       Entire home/apt
                 ...
19388006    Entire home/apt
19393935    Entire home/apt
19396300    Entire home/apt
19397373    Entire home/apt
19400722    Entire home/apt
Name: room_type, Length: 13232, dtype: object

Which is the same as doing:

In [14]:
df['room_type']

room_id
6499        Entire home/apt
17031       Entire home/apt
25659       Entire home/apt
29248       Entire home/apt
29396       Entire home/apt
                 ...
19388006    Entire home/apt
19393935    Entire home/apt
19396300    Entire home/apt
19397373    Entire home/apt
19400722    Entire home/apt
Name: room_type, Length: 13232, dtype: object

When we select one column we receive a pd.Series, we can use double brackets to select multiple columns (if we select multiple columns we will always receive a dataframe).

In [15]:
df[["room_type", "price"]].head()

               room_type  price
room_id
6499     Entire home/apt   57.0
17031    Entire home/apt   46.0
25659    Entire home/apt   69.0
29248    Entire home/apt   58.0
29396    Entire home/apt   67.0

We can also use loc select specific rows from a desired columns with loc

In [24]:
df.loc[:, "room_type"][:10]

room_id
6499     Entire home/apt
17031    Entire home/apt
25659    Entire home/apt
29248    Entire home/apt
29396    Entire home/apt
29720    Entire home/apt
29872    Entire home/apt
29891    Entire home/apt
29915    Entire home/apt
33312    Entire home/apt
Name: room_type, dtype: object

## <font color='#eb3483'> 4. Advanced Filtering </font>

### <font color='#eb3483'> Mask & Where </font>

The function `mask` allows us to "hide" parts of a dataframe that match a certain condition. Note that is similar to how we used masks in NumPy!

In [28]:
df.mask(df.overall_satisfaction == 5.0).head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17031,66015.0,Entire home/apt,Alvalade,0.0,0.0,2.0,1.0,46.0
25659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29248,125768.0,Entire home/apt,Santa Maria Maior,225.0,4.5,4.0,1.0,58.0
29396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We see that the rows that dont match the condition appear as `NaN`, which stands for **Not a Number**, a standard way of saying *"there is no relevant data here"*. Pandas will usually ignore the NaNs.

On the other hand, [where](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html) hides those rows that don't match the condition (where is the opposite of mask).

In [26]:
df.where(df.overall_satisfaction == 5.0).head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455.0,Entire home/apt,Belém,8.0,5.0,2.0,1.0,57.0
17031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25659,107347.0,Entire home/apt,Santa Maria Maior,63.0,5.0,3.0,1.0,69.0
29248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29396,126415.0,Entire home/apt,Santa Maria Maior,132.0,5.0,4.0,1.0,67.0

### <font color='#eb3483'> Filtering with [ ] </font>

We can also filter by using brackets.
The difference between filtering with brackets and using `mask/where` is that with brackets we only receive a segment of the dataframe (less rows), while with `mask/where` we receive a dataframe with the same rows and index as the original one.  

We call this subsetting to create a specific "sub" dataframe

Why would it be useful to retain all the rows?

For example, we can filter the dataframe to see all the listings in `Belem`:

In [29]:
df = pd.read_csv('data/airbnb.csv', index_col='room_id')

In [30]:
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [31]:
df.shape

(13232, 8)

In [32]:
df.where(df.neighborhood=="Belém").shape

(13232, 8)

If we use brackets, the dataframe we get is smaller

In [33]:
df[df.neighborhood == 'Belém'].head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
202654,992647,Entire home/apt,Belém,54,4.0,2,1.0,45.0
418945,2083563,Private room,Belém,2,0.0,2,1.0,127.0
472183,2341627,Entire home/apt,Belém,64,4.5,4,1.0,67.0
635674,3168004,Entire home/apt,Belém,57,4.5,3,2.0,46.0

In [36]:
df[df.neighborhood == 'Belém'].shape

(254, 8)

We can select the inverse of a condition if we put `~` in front of it.

For example, to select all listings that are not in Belem, we can do this:

In [35]:
df[~(df.neighborhood ==  "Belém")].shape

(12978, 8)

### <font color='#eb3483'> Multiple Selection </font>

We can filter a dataframe based on multiple conditions.

We can select rows that match multiple conditions by concatenating the conditions with `&`.

For example, if we want those listings in Belém with more than 3 bedrooms:

In [43]:
df[(df.neighborhood == 'Belém') & (df.bedrooms > 3)].head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
2127428,8810620,Entire home/apt,Belém,17,5.0,9,5.0,184.0
5737018,29744618,Entire home/apt,Belém,46,4.5,10,4.0,128.0
6884183,11926451,Entire home/apt,Belém,1,0.0,10,5.0,138.0
9522737,46064752,Entire home/apt,Belém,27,5.0,8,4.0,78.0
15272166,17263208,Entire home/apt,Belém,1,0.0,6,4.0,288.0

Same way, we can select rows that match one condition OR the other with the pipe (`|`)

In [44]:
df[(df.neighborhood == "Belém") | (df.neighborhood == "Benfica")].head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
202654,992647,Entire home/apt,Belém,54,4.0,2,1.0,45.0
212915,1097919,Private room,Benfica,0,0.0,6,1.0,93.0
418945,2083563,Private room,Belém,2,0.0,2,1.0,127.0
472183,2341627,Entire home/apt,Belém,64,4.5,4,1.0,67.0

# <font color='#eb3483'> GET SOME PRACTICE </font>

## Take 10 minutes and work through these problems as a group to get a feel for doing the coding yourself.

It is going to be rough at first. And that's okay. You can copy paste and scroll up. You dont have to remember each command. it's all there - and if it isnt ... google is your friend.

# <font color='#eb3483'> Filtering Pandas Exercises </font>

Let's pretend we are an Airbnb employee assigned to the Lisbon market. Our job is to help clients find their desired listing. We have a file named `airbnb.csv` that has information on all the listings we have available right now in the city. Start by import pandas and loading our data in.

In [47]:
import pandas as pd
df = pd.read_csv('data/airbnb.csv', index_col='room_id')

### <font color='#eb3483'> Exercise 1 </font>

Alice is going to Lisbon for a week with her husband and 2 kids. They are looking for a full apartment with separate rooms for parents and children. Money is not an issue for them, but they are looking for a good place. This means they are only looking for places with more than 10 reviews and a score above 4. When we show Alice our listing selection we need to make sure we are sorting the listings from the best score to the worse one. In case some listings have the same score, we will have to sort them by the number of reviews (the more the better). We need to give her  3 alternatives.

In [56]:
df[(df.reviews > 10) & (df.overall_satisfaction > 4) &(df.bedrooms >= 2)].sort_values('overall_satisfaction', ascending=False).head(3)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
9181250,47764540,Entire home/apt,Santa Maria Maior,117,5.0,4,2.0,58.0
9042775,1756107,Entire home/apt,Misericórdia,90,5.0,4,2.0,104.0


### <font color='#eb3483'> Exercise 2 </font>

Diana is going to spend 3 nights in Lisbon and she wants to meet new people. Se has a budget of 50€. We need to provide to her the 10 cheapests listings, with a preference for shared rooms. We need to sort the rooms by score (descending).

In [65]:
df[(df.price <= 50) & (df.room_type == 'Shared room')].sort_values('overall_satisfaction', ascending=False).head(3)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
11523225,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,23.0
10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0